.footer {
  padding-bottom: 40px;

  &__container {
    display: grid;
    gap: 27px;
    grid-template-areas:
      "logo ."
      "copyright contacts";
  }

  &__logo {
    grid-area: logo;
  }

  &__copyright {
    grid-area: copyright;
  }

  &__contacts {
    grid-area: contacts;
    justify-self: end;
    min-width: 180px;
  }

  &__contact {
    margin-bottom: 8px;
  }

  &__contact:last-child {
    margin-bottom: 0;
  }

  &__link:hover {
    color: brown;
  }
}

@media (max-width: 1150px) {
  .footer {
    padding-bottom: 40px;
  }
}

@media (max-width: 880px) {
  .footer {
    padding-bottom: 24px;
  }
}
