.hero {
  position: relative;
  padding: 57px 0;

  &__container::after {
    content: "";
    position: absolute;
    width: 421px;
    height: 330px;
    background: url("../img/laptop.png") no-repeat center/contain;
    top: 0;
    right: -40px;
  }

  &__title {
    font-size: 90px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }

  &__blue-text {
    color: #2a18ff;
    font-size: 90px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
}

@media (max-width: 1150px) {
  .hero {
    padding: 53px 0;

    &__container::after {
      width: 340px;
      height: 340px;
      top: -20px;
    }

    &__title {
      font-size: 64px;
      letter-spacing: 1.28px;
    }

    &__blue-text {
      font-size: 64px;
      letter-spacing: 1.28px;
    }
  }
}

@media (max-width: 880px) {
  .hero {
    padding: 40px 0;

    &__container::after {
      width: 269px;
      height: 269px;
      top: -25px;
    }

    &__title {
      font-size: 52px;
      letter-spacing: 1.08px;
    }

    &__blue-text {
      font-size: 52px;
      letter-spacing: 1.08px;
    }
  }
}

@media (max-width: 730px) {
  .hero {
    &__container::after {
      top: -55px;
    }

    &__title {
      font-size: 32px;
      letter-spacing: 0.64px;
    }

    &__blue-text {
      font-size: 32px;
      letter-spacing: 0.64px;
    }
  }
}

@media (max-width: 605px) {
  .hero {
    padding-top: 0px;
    padding-bottom: 0px;

    &__container::after {
      display: block;
      position: relative;
      top: 0px;
      transform: translateX(-50%);
      left: 50%;
    }

    &__title {
      text-align: center;
      font-size: 32px;
      letter-spacing: 0.64px;
    }

    &__blue-text {
      display: block;
      text-align: center;
      font-size: 32px;
      letter-spacing: 0.64px;
    }
  }
}
