.vacancies {
  position: relative;
  padding: 100px 0;

  &__container {
    display: flex;
    align-items: start;
    gap: 24px 20px;
  }

  &__filter-btn {
    display: none;
  }

  &__filter {
    width: 280px;
  }

  &__cards {
    flex-basis: 100%;
  }
}

@media (max-width: 1150px) {
  .vacancies {
    padding: 80px 0;
  }
}

@media (max-width: 880px) {
  .vacancies {
    padding: 60px 0;

    &__container {
      flex-direction: column;
    }

    &__filter-btn {
      display: block;
      position: absolute;
      top: 20px;
      color: #2a18ff;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }

    &__filter-btn::after {
      content: "";
      display: block;
      position: absolute;
      right: -20px;
      top: -1px;
      width: 20px;
      height: 20px;
      background: url("../img/filret-arrow.svg") center no-repeat;
    }

    &__filter-btn-active::after {
      transform: translateY(3px) rotate(180deg);
    }
  }
}

@media (max-width: 879px) {
  .vacancies {
    &__filter {
      width: 100%;
    }
  }
}

@media (max-width: 605px) {
  .vacancies {
    padding-bottom: 40px;

    &__cards {
      width: 100%;
    }
  }
}
